<div class="container">
  <mat-card class="auth-card">
    <mat-tab-group [(selectedIndex)]="tabIndex">
      <mat-tab label="Login"></mat-tab>
      <mat-tab label="Cadastro"></mat-tab>
    </mat-tab-group>

    @if (tabIndex === 0) {
    <form class="form animate-in">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width">Entrar</button>
    </form>
    } @if (tabIndex === 1) {
    <form class="form animate-in">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" required />
      </mat-form-field>

      <button mat-raised-button color="accent" class="full-width">Cadastrar</button>
    </form>
    }
  </mat-card>
</div>
